<h4>About</h4>

<p>This is just a starter kit for landing pages with Angular.js and phpmailer. <br> This is not a production-ready template but a set of tools that I love and I think helpful.</p>

<h3>Installation</h3>
<p>I assume you have installed bower and gulp (both are NodeJS applications). Start your local server and clone the repo. </p>
<p>In the root of the project:</p>
<pre> $ npm install</pre>
<pre> $ bower install</pre>
<pre> $ gulp</pre>

<p>Use gulp-watch during development.</p>

<h3>Adding components</h3>
<p>The javascript files should be placed in the src/js folder and inserted inside the task <em>js</em> of your gulpfile.</p>
<p>The sample is <em>extralight</em> and does not ship with all Bootstrap CSS and JavaScript. To add new Bootstrap styles import in the file src / less / style.less preceded by the variable <em>@bootstrap-path</em>.</p>

<h3>What's in the kit?</h3>
<ul>
    <li>Angular.js</li>
    <li>Angular-Route</li>
    <li>PhpMailer (<a href="https://github.com/Synchro/PHPMailer">Here. Very helpful</a> )</li>
    <li>JQuery</li>
    <li>Scaffolding with npm, bower and gulp</li>
    <li>Bootstrap/Less</li>
    <li>A great contact form (<a href="http://www.chaosm.net/blog/2014/05/21/angularjs-contact-form-with-bootstrap-and-phpmailer/" target="_blank">This</a>)</li>
</ul>